.purple-background {
    width: 66.66667vw;
    height: 58.33333vw;
    left: 16.66667vw;
    background-color: #d5b3ff !important; 
}
.test-block {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
    background-image: url("https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=2&fit=crop&h=150&ixjsv=1.1.3&q=50&w=200");
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
}

.first-photo {
    min-height: 80vh;
}
.color-bg-sm {
    min-height: 50vh;
    height: 100%;
}
.green-bg-sm {
    height: 50vh;
}
.text-padding {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}
.photo{
   background-repeat: no-repeat;
   backgrtound-size: cover;
   background-position: 50% 50%;
   width: 41.6667vw;
   height: 31.6667vh;
}
.img-1 {
    height: 30vh;
}
.hr-line {
    height: 2px;
}
a::after {
    content: ">";
    font-size: 0.65rem;
}

.ft-section {
    padding-left: 8%;
    padding-right: 8%;
}
.none::after {
    content: "";
}
.fa {
    padding: 10px;
    width: 60px;
    text-align: center;
    font-size: 0.5rem;
    color: white;
    text-decoration: none;
    background: red;
}
.fa-facebook {
    background: #3b5998;
}
.fa-twitter {
    background: #55acee;
}
.fa-instagram {
    background: #ffc273;
}
.ableton-bg-blue {
    background: #0000ff;
}

.ableton-yellow {
    background: linear-gradient(to right, white 0%,white 40%,#fbffa7 40%,#fbffa7 50%,#fbffa7 100%); /*#fbffa7*/
}
.ableton-orange {
    color: #ff764d;
}
.ableton-skyblue {
    color: #b1c5ff;
}
.ableton-purple {
    background: linear-gradient(to right, white 0%,white 15%,#d5b3ff 15%,#d5b3ff 85%,white 85%, white 100%);/*#d5b3ff*/
}
.ableton-green {
    background: linear-gradient(to left, white 0%,white 40%,#b6ffc0 40%,#b6ffc0 50%,#b6ffc0 100%); /*#b6ffc0*/
}
.ableton-blue {
    color: #0000ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    light - light 300
    book - normal 400
    medium - medium 500
    demi - semibold 600
    heavy - bold 700
    bold - extrabold 800
    extra bold - extrabold 900

*/
@layer base {
    @font-face {
        font-family: Futura PT;
        font-weight: 400;
        src: url(/fonts/FuturaPTBook.otf) format("otf");
    }
    /* @font-face {
        font-family: Futura PT;
        font-weight: 700;
        src: url(/fonts/FuturaPTHeavy.otf) format("otf");
    }
    @font-face {
        font-family: Futura PT;
        font-weight: 300;
        src: url(/fonts/FuturaPTlight.otf) format("otf");
    }
    @font-face {
        font-family: Futura PT;
        font-weight: 500;
        src: url(/fonts/FuturaPTMedium.otf) format("otf");
    }
    @font-face {
        font-family: Futura PT;
        font-weight: 600;
        src: url(/fonts/FuturaPTDemi.otf) format("otf");
    }
    @font-face {
        font-family: Futura PT;
        font-weight: 800;
        src: url(/fonts/FuturaPTBold.otf) format("otf");
    }
    @font-face {
        font-family: Futura PT;
        font-weight: 900;
        src: url(/fonts/FuturaPTExtraBold.otf) format("otf");
    } */
}